extends ../../layout/default.pug

block main 
  .container.dashboard
    .row.d-flex.justify-content-center
      .col-10
        h2 Chào mừng bạn đến với không gian trò chuyện Box-Chat – nơi bạn có thể làm quen, kết bạn và nhắn tin mọi lúc, mọi nơi. Chúc bạn có trải nghiệm thật vui vẻ cùng bạn bè mới nhé.