header(class="header")
  .container 
    .row 
      .col-12
        div(class="auth d-flex justify-content-center")
          if(user)
            a(href="/user/logout" class="btn-logout") Đăng xuất
          else 
            div #{user}
            a(href="/user/register" class="btn-regisetr") Đăng ký 
            a(href="/user/login" class="btn-login") Đăng nhập
          