header(class="header")
  .container 
    .row 
      .col-12
        div(class="auth d-flex justify-content-center")
          a(href="/user/register" class="btn-regisetr") Đăng ký 
          a(href="/user/login" class="btn-login") Đăng nhập